.filter-modal {
  background-color: white;
  position: absolute;
  padding: 10px;
  z-index: 1000;
  width: -webkit-fill-available;
  top: 0;
  @media screen {
    width: 20rem;
    top: 20px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.close-button {
  padding: 2px 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: end;
}

#filter-category-select {
  margin-bottom: 10px;
}

.filter-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.current-filter {
  background-color: #2dcea2;
  color: #fff;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
}
