body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  overflow: hidden;
}

.leaflet-touch .leaflet-bar button,
.leaflet-touch .leaflet-bar a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-touch .leaflet-bar button {
  font-size: 18px;
}

.easy-button-button .button-state {
  display: flex;
  align-items: center;
  justify-content: center;
}
